<div class="container mt-5">

  <h5>The return order charge and delivery date is calculated based on the component type and count.
    The default processing charge and delivery date for a single component
    based on its type as Integral or Accessory part is as given below :
  </h5>

  <br><br>

  <h5>Repair for Integral part</h5>

  <ul>
    <li>The default processing duration is 5 days.</li>
    <li>Default processing charge is INR 500·</li>
  </ul>


  <h5>Replacement for Accessory part</h5>

  <ul>
    <li>The default processing duration is 2 days.</li>
    <li>Default processing charge is INR 300.</li>
  </ul>
</div>

